.ci
.github
docs
example
images
others
test_dir
tests
tmp

pip-wheel-metadata
Dockerfile
.dockerignore

*.pyc
*.pyo
*.pyd
__pycache__
*.db
.idea
.vscode
dist/
build/
.eggs
bgmi.egg-info
.python-version
.DS_Store
*debug.sh
env
.coverage
htmlcov
.xml
watchdemo*.yaml
.tox
.git
.pytest_cache
