repos:
  - repo: https://github.com/Trim21/pre-commit-hooks
    rev: c7a95cc4bd7861446be192a3b83c7a2ca1d6d910  # frozen: v0.2.3
    hooks:
      - id: yamlfmt
      - id: poetry-check-lock
      - id: find-trailing-comma

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 6e2418c5521b7d606e72914dced3253f9ace1205  # frozen: v3.4.0
    hooks:
      - id: check-merge-conflict
        exclude: \.rst$

      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first

      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: \.vbs$

      - id: mixed-line-ending
        args: [--fix=crlf]
        files: \.vbs$

      - id: check-json
      - id: check-added-large-files  # check for file bigger than 500kb
      - id: check-yaml
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/asottile/pyupgrade
    rev: d94dd3486f99af99b5779e38e60a69bf97522051  # frozen: v2.10.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/myint/autoflake
    rev: 7a53fdafc82c33f446915b60fcac947c51279260  # frozen: v1.4
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-unused-variables
          - --remove-all-unused-imports
          - --expand-star-imports

  - repo: https://github.com/timothycrosley/isort
    rev: 473d150c1db60f4614a574e30993e9e0d3ca0cce  # frozen: 5.7.0
    hooks:
      - id: isort
        args:
          - --line-width=88
          - --trailing-comma
          - --multi-line=3
          - --project=bgmi
          - --force-grid-wrap=0
          - --use-parentheses
          - -sd=THIRDPARTY

  - repo: https://github.com/psf/black
    rev: e66be67b9b6811913470f70c28b4d50f94d05b22  # frozen: 20.8b1
    hooks:
      - id: black
