repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
        exclude: '\.rst$'

      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first

      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: '\.vbs$'

      - id: mixed-line-ending
        args: [--fix=crlf]
        files: '\.vbs$'

      - id: check-json
      # check for file bigger than 500kb
      - id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/Trim21/find-trailing-comma
    rev: v0.0.1
    hooks:
      - id: find-trailing-comma

  - repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
      - id: pyupgrade
        args: ['--py3-plus']


  - repo: https://github.com/Trim21/mirrors-autoflake
    rev: v1.3.1
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-unused-variables', '--remove-all-unused-imports']

  - repo: https://github.com/timothycrosley/isort
    rev: '4.3.21'
    hooks:
      - id: isort
        args: [  '--line-width', '88',
                 '--trailing-comma',
                 '--multi-line', '3',
                 '--project', 'bgmi', ]

#  - repo: local
#    hooks:
#      - id: isort
#        name: isort
#        entry: isort
#        require_serial: true
#        language: system
#        types: [python]
#        args: [  '--line-width', '88',
#                 '--trailing-comma',
#                 '--multi-line', '3',
#                 '--project', 'bgmi', ]
#
#      - id: black
#        name: black
#        entry: black
#        require_serial: true
#        language: system
#        types: [python]
#
#      - id: poetry
#        name: poetry
#        entry: poetry check
#        language: system
#        pass_filenames: false
#        require_serial: false
#        files: 'pyproject.toml'
