repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "1.7.1"
    hooks:
      - id: poetry-check
      - id: poetry-lock
        name: poetry-lock-check
        args: [--check]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: \.rst$

      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first

      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: \.vbs$

      - id: mixed-line-ending
        args: [--fix=crlf]
        files: \.vbs$

      - id: check-json
      - id: check-added-large-files # check for file bigger than 500kb
      - id: check-yaml
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.3.7
    hooks:
      # Run the linter.
      - id: ruff

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
