os:
    - linux
    - os x

language: python
python:
    - 2.7
    - pypy
    - 3.2
    - 3.3
    - 3.4
    - 3.5

install:
    - pip install -r requirements.txt

script:
    - python -m unittest discover
