[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "bgmi"
version = "2.2.13"
description = 'BGmi is a cli tool for subscribed bangumi.'
authors = ["RicterZ <ricterzheng@gmail.com>"]
readme = 'README.md'
license = 'MIT'
maintainers = ["Trim21 <i@trim21.me>"]
homepage = 'https://github.com/BGmi/BGmi'
repository = 'https://github.com/BGmi/BGmi'
keywords = ['bangumi', 'bgmi', 'feed']
classifiers = [
  'Development Status :: 4 - Beta',
  'Intended Audience :: Other Audience',
  'Natural Language :: Chinese (Traditional)',
  'License :: OSI Approved :: MIT License',
  'Programming Language :: Python',
  'Programming Language :: Python :: 3.8',
  'Programming Language :: Python :: 3.9',
  'Programming Language :: Python :: 3.10',
  'Programming Language :: Python :: Implementation :: CPython',
  'Programming Language :: Python :: Implementation :: PyPy',
]
packages = [{ include = "bgmi" }]

[tool.poetry.scripts]
bgmi = 'bgmi.main:main'
bgmi_http = 'bgmi.front.server:main'

[tool.poetry.plugins] # entry-points

[tool.poetry.plugins."bgmi.downloader"]
"aria2-rpc" = 'bgmi.downloader:Aria2DownloadRPC'
"transmission-rpc" = 'bgmi.downloader:TransmissionRPC'
"deluge-rpc" = 'bgmi.downloader:DelugeRPC'
"qbittorrent-webapi" = 'bgmi.downloader:QBittorrentWebAPI'

[tool.poetry.dependencies]
python = "^3.8.0"
beautifulsoup4 = '==4.11.1'
requests = '==2.28.1'
tornado = '==6.2'
icalendar = '==4.1.0'
peewee = '==3.15.3'
wcwidth = "^0.2.5"
pydantic = "==1.10.2"
stevedore = "==4.0.1"
# RPC library
transmission-rpc = "==3.4.0"
qbittorrent-api = "==2022.8.38"

[tool.poetry.dev-dependencies]
black = "==22.10.0"
# tests
coverage = { version = "==6.5.0", extras = ['toml'] }
pytest = "==7.1.3"
pytest-github-actions-annotate-failures = "==0.1.7"
pytest-rerunfailures = "==10.2"
requests-cache = "==0.9.6"
# lint
pre-commit = '==2.20.0'
mypy = "==0.982"
flake8 = "==5.0.4"
flake8-comprehensions = "==3.10.0"
flake8-bugbear = "==22.9.23"
flake8-mutable = "1.2.0"
flake8-eradicate = "==1.4.0"
flake8-pep3101 = "==2.0.0"
flake8-2020 = "==1.7.0"
flake8-pytest-style = "==1.6.0"
pylint = "==2.15.4"
# stubs
types-requests = "==2.28.11.2"
[tool.coverage.report]
exclude_lines = [
  'pragma: no cover',
  'if TYPE_CHECKING:',
  'if __name__ == "__main__":',
  'if typing.TYPE_CHECKING:',
  'raise NotImplementedError',
  'if os.getenv("DEBUG"):',
  'if os.getenv("DEBUG_SCRIPT"):',
  'if os.environ.get("DEBUG"):',
]

[tool.pytest.ini_options]
addopts = '-v --durations=10'
junit_family = 'legacy'

[tool.isort]
default_section = 'THIRDPARTY'
known_first_party = 'bgmi'
length_sort = false
line_length = 88
multi_line_output = 3
no_lines_before = 'LOCALFOLDER'
use_parentheses = true
include_trailing_comma = true

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true
warn_return_any = true
warn_unused_configs = true
show_error_codes = true
pretty = true

[[tool.mypy.overrides]]
module = [
  "bgmi.downloader.*",
  "bgmi.website.mikan",
  "bgmi.website.bangumi_moe",
  "bgmi.website.share_dmhy",
]
disallow_untyped_defs = false

[tool.pylint]

[tool.pylint.messages_control]
extension-pkg-whitelist = ['pydantic']
disable = [
  "consider-using-f-string",
  "cell-var-from-loop",
  "missing-function-docstring",
  "missing-class-docstring",
  "missing-module-docstring",
  'raise-missing-from',
  'invalid-name',
  'too-many-locals',
  'duplicate-code',
  'too-few-public-methods',
  'unused-argument',
  'no-else-return',
  'assignment-from-none',
  'unused-variable',
  'broad-except',
  'too-many-nested-blocks',
  'too-many-branches',
  'redefined-outer-name',
  'too-many-return-statements',
  'too-many-statements',
  'too-many-arguments',
  'not-an-iterable',
  'redefined-builtin',
]
