name: test-build-files

on:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: {}

jobs:
  dist-files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3"
      - uses: astral-sh/setup-uv@v7

      - run: uv build

      - name: Install twine
        run: pip install twine

      - name: Check Files
        run: twine check dist/*
