name: test-build-files

on:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: {}

jobs:
  dist-files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10.16"
      - uses: trim21/setup-poetry@dist/v2

      - run: poetry build

      - name: Install twine
        run: pip install twine

      - name: Check Files
        run: twine check dist/*
