name: lint

on:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: trim21/setup-poetry@dist/v2
      - uses: trim21/install-poetry-project@dist/v2

      - name: flake8
        run: "flake8 --format='::error file=%(path)s,line=%(row)d,col=%(col)d::[%(code)s]: %(text)s'"

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/checkout@v4
      - uses: trim21/setup-poetry@dist/v2
      - uses: trim21/install-poetry-project@dist/v2
      - uses: liskin/gh-problem-matcher-wrap@v2
        with:
          action: add
          linters: mypy

      - name: mypy
        run: |
          if [[ "${{ matrix.os }}" == "windows" ]]
          then
              v="true"
          else
              v="false"
          fi
          mypy --show-column-numbers "--always-$v=IS_WINDOWS" bgmi

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: trim21/setup-poetry@dist/v2
      - uses: trim21/install-poetry-project@dist/v2
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: precommit-2-${{ env.PY }}-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: precommit-2-${{ env.PY }}-

      - name: pre-commit
        run: pre-commit run --all-files --show-diff-on-failure && pre-commit gc
