name: lint

on:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3"

      - uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          python-version: "3"

      - run: uv sync --locked

      - uses: liskin/gh-problem-matcher-wrap@v3
        with:
          action: add
          linters: mypy

      - name: mypy
        run: |
          if [[ "${{ matrix.os }}" == "windows" ]]
          then
              v="true"
          else
              v="false"
          fi
          mypy --show-column-numbers "--always-$v=IS_WINDOWS" bgmi

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.6"

      - run: pip install pre-commit

      - uses: trim21/actions/pre-commit@master
