name: test downloader

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: {}

defaults:
  run:
    shell: bash

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  downloader:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          python-version: ${{ matrix.python }}

      - run: uv sync --locked

      - name: start daemon
        run: docker compose -f tests/downloader/docker-compose.yaml up -d
      - run: sleep 10
        name: wait container ready
      - name: test
        run: |
          set -ex
          coverage run -a -m bgmi install
          coverage run -a tests/downloader/setup.py
          coverage run -a -m pytest tests/downloader -s

      - run: coverage xml
      - uses: codecov/codecov-action@v5
        with:
          flags: downloader
          token: ${{ secrets.CODECOV_TOKEN }} # required
