name: test

on:
  schedule:
    - cron: "1 1 1 * *" # monthly
  workflow_dispatch:
  push:
    paths-ignore:
      - LICENSE
      - images/*
      - "*.md"
      - "*.yml"
      - "*.yaml"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request:
    branches:
      - master
    paths-ignore:
      - LICENSE
      - images/*
      - "*.md"
      - "*.yml"
      - "*.yaml"
      - "!.github/workflows/test.yaml"

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ${{ format('{0}-latest', matrix.os) }}
    strategy:
      matrix:
        python: ["3.8", "3.10", "3.11"]
        os: [macos, windows, ubuntu]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - uses: Trim21/setup-poetry@dist/v1

      - uses: Trim21/install-poetry-project@dist/v1

      - name: test
        run: |
          set -ex
          coverage run -a -m bgmi.main install
          bgmi -h
          coverage run -a -m pytest tests \
            --cache-requests --reruns=2 --reruns-delay=1 --maxfail=2\
            --ignore=tests/downloader

      - run: coverage xml --omit templates/download_xml.generated.py
      - uses: codecov/codecov-action@v3
        with:
          flags: app,front
