name: test

on:
  schedule:
    - cron: "1 1 1 * *" # monthly
  workflow_dispatch:
  push:
    branches-ignore:
      - renovate/**
      - deepsource-*
  pull_request: { }
  merge_group:

defaults:
  run:
    shell: bash

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ format('{0}-latest', matrix.os) }}
    strategy:
      matrix:
        python: [ "3.8", "3.12" ]
        os: [ macos, windows, ubuntu ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - uses: trim21/setup-poetry@dist/v2

      - uses: trim21/install-poetry-project@dist/v2

      - name: test
        run: |
          set -ex
          coverage run -a -m bgmi install
          bgmi --help
          coverage run -a -m pytest tests --cache-requests --ignore=tests/downloader

      - run: coverage xml --omit templates/download_xml.generated.py
      - uses: codecov/codecov-action@v3
        with:
          flags: app,front

  test-all-pass:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - run: echo 'OK'
